# 编译产物
*.o
*.obj
*.elf
*.map
*.bin
*.hex
*.axf
*.lst
*.out

# 中间文件
*.d
*.su
*.bak
*.tmp

# IDE / 工具链
.vscode/
.idea/
.settings/
.cproject
.project
/project/lst
/project/obj
/project/sunxi-tools-烧录

#图片文件
#/USR/ui_data